html {
  background-color: #fbf9f4;
}
h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#button {
  display: flex;
  justify-content: center;
}

#changeNight,
#changeDay {
  color: black;
  background-color: #966b2c;
  border: none;
  padding: 10px;
  border-radius: 45px;
  margin: 20px;
}

/* daytime */

#daySky {
  position: relative;
  overflow: hidden;
  height: 500px;
  border: 1px solid black;
  background-color: #c9dbe9;
}

#sun {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffe87c;
  animation: sun-color 20s infinite ease-in-out;
}

#clouds1,
#clouds2 {
  padding: 0;
  margin-top: 100px;
  position: relative;
  display: inline;
  font-size: 50px;
  color: #fbf9f4;
  animation: cloudsMove 20s infinite linear;
}

/* night time */

#moon {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f5f3ce;
}

#stars i {
  display: inline-block;
  padding: 50px 80px;
  margin-right: 100px;
  animation: starsTwinkling 2s ease 0s infinite normal forwards;
  color: #fff4f3;
}
#stars2 i {
  display: inline-block;
  padding-left: 150px;
  margin-right: 140px;
  animation: starsTwinkling 2s ease 0s infinite normal forwards;
  color: #fff4f3;
}
#stars3 i {
  display: inline-block;
  padding: 50px 70px;
  margin-right: 120px;
  animation: starsTwinkling 2s ease 0s infinite normal forwards;
  color: #fff4f3;
}

#nightSky {
  position: relative;
  overflow: hidden;
  height: 500px;
  border: 1px solid black;
  background-color: #4d4d60;
}

#cityViewDay i {
  font-size: 100px;
  color: #0b0b2f;
  display: inline;
  margin: 20px;
}

#cityViewDay {
  padding-top: 390px;
  padding-left: 20px;
}

#cityViewNight i {
  font-size: 100px;
  color: #0b0b2f;
  display: inline;
  margin: 20px;
}

#cityViewNight {
  padding-top: 130px;
  padding-left: 20px;
}

.grass,
.grass1,
.grass2,
.grass3,
.grass4,
.grass5,
.grass6,
.grass7,
.grass8,
.grass9,
.grass10,
.grass11,
.grass12,
.grass13,
.grass14,
.grass15,
.grass16,
.grass17,
.grass18,
.grass19,
.grass20,
.grass21,
.grass22,
.grass23,
.grass24,
.grass25,
.grass26,
.grass27,
.grass28,
.grass29,
.grass30,
.grass31,
.grass32,
.grass33,
.grass34,
.grass35,
.grass36,
.grass37,
.grass38,
.grass39,
.grass40,
.grass41,
.grass42,
.grass43,
.grass44,
.grass45,
.grass46,
.grass47,
.grass48,
.grass49,
.grass50,
.grass51,
.grass52,
.grass53,
.grass54,
.grass55,
.grass56 {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 100px solid #156a32;
  position: absolute;
  bottom: 0px;
  animation: grassMove 5s infinite, ease-in-out;
}

.grass {
  left: 0px;
}
.grass1 {
  left: 25px;
}
.grass2 {
  left: 50px;
}
.grass3 {
  left: 75px;
}
.grass4 {
  left: 100px;
}
.grass5 {
  left: 125px;
}
.grass6 {
  left: 150px;
}
.grass7 {
  left: 175px;
}
.grass8 {
  left: 200px;
}
.grass9 {
  left: 225px;
}
.grass10 {
  left: 250px;
}
.grass11 {
  left: 275px;
}
.grass12 {
  left: 300px;
}
.grass13 {
  left: 325px;
}
.grass14 {
  left: 350px;
}
.grass15 {
  left: 375px;
}
.grass16 {
  left: 400px;
}
.grass17 {
  left: 425px;
}
.grass18 {
  left: 450px;
}
.grass19 {
  left: 475px;
}
.grass20 {
  left: 500px;
}
.grass21 {
  left: 525px;
}
.grass22 {
  left: 550px;
}
.grass23 {
  left: 575px;
}
.grass24 {
  left: 600px;
}
.grass25 {
  left: 625px;
}
.grass26 {
  left: 650px;
}
.grass27 {
  left: 675px;
}
.grass28 {
  left: 700px;
}
.grass29 {
  left: 725px;
}
.grass30 {
  left: 750px;
}
.grass31 {
  left: 775px;
}
.grass32 {
  left: 800px;
}
.grass33 {
  left: 825px;
}
.grass34 {
  left: 850px;
}
.grass35 {
  left: 875px;
}
.grass36 {
  left: 900px;
}
.grass37 {
  left: 925px;
}
.grass38 {
  left: 950px;
}
.grass39 {
  left: 975px;
}
.grass40 {
  left: 1000px;
}
.grass41 {
  left: 1025px;
}
.grass42 {
  left: 1050px;
}
.grass43 {
  left: 1075px;
}
.grass44 {
  left: 1100px;
}
.grass45 {
  left: 1125px;
}
.grass46 {
  left: 1150px;
}
.grass47 {
  left: 1175px;
}
.grass48 {
  left: 1200px;
}
.grass49 {
  left: 1225px;
}
.grass50 {
  left: 1250px;
}
.grass51 {
  left: 1275px;
}
.grass52 {
  left: 1300px;
}
.grass53 {
  left: 1325px;
}
.grass54 {
  left: 1350px;
}
.grass55 {
  left: 1375px;
}
.grass56 {
  left: 1400px;
}

@keyframes grassMove {
  0% {
    border-left: 10px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 55px solid #156a32;
  }
  25% {
    border-left: 25px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 55px solid #156a32;
  }
  50% {
    border-left: 10px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 55px solid #156a32;
  }
  75% {
    border-left: 25px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 55px solid #156a32;
  }
  100% {
    border-left: 10px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 55px solid #156a32;
  }
}

@keyframes sunColor {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

@keyframes cloudsMove {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

@keyframes starsTwinkling {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
